.ws__chat{
  height: 100vh;
}
.ws__chat-display{
  height: 80%;
  background-color: white;
  border-radius: 10px;
  overflow: auto;
  overflow-wrap: break-word;
  font-family: Georgia, 'Times New Roman', Times, serif;
}
.ws__chat-input{
  height: 40px;
}
.ws__chat-message{
  
  white-space: word-wrap; 
}
.ws__user-name{
  color:red;
  font-weight: bold;
}
.ws__link{
  display: block;
}